<div id="modalAddAll" class="modalAll">
  <div class="modalAddAll-content">
    <span class="closeModalAddAll">&times;</span>
    <h2>You want to make a New Entry ?</h2>
    <div class="newEntryBtns">
    <a href="/expenses/new" class="fancy-btn-modalAll expense" data-title="I spended again"></a>
    <a href="/incomes/new" class="fancy-btn-modalAll income" data-title="I have been good"></a>
    </div>
  </div>
</div>