<div id="modalAddAll" class="modalAll">
  <div class="modalAddAll-content">
    <span class="closeModalAddAll">&times;</span>
    <h2>You want to make a new entry ?</h2>
    <div class="newEntryBtns">
    <a href="/expenses/new" class="fancy-btn-modalAll expense" data-back="Stop buying !"><i class="fas fa-minus-circle" style="font-size: 40px;"></i></a>
    <a href="/incomes/new" class="fancy-btn-modalAll income" data-back="Yay, getting rich"><i class="fas fa-plus-circle" style="font-size: 40px;"></i></a>
    </div>
  </div>
</div>