 <div class="sidebar">
            <div class="main-menu">
                <div class="menu-item active">
                    <a href="">
                        <i class="menu-icon fa fa-home"></i>
                        <p class="menu-text">Home</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="">
                        <i class="menu-icon  fas fa-plus-circle" id="addModalAllBtn"></i>
                        <p class="menu-text">Add</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="">
                        <i class="menu-icon fas fa-wallet"></i>
                        <p class="menu-text">Expenses</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="">
                        <i class="menu-icon fas fa-piggy-bank"></i>
                        <p class="menu-text">Income</p>
                    </a>
                </div>
            </div>
            <!-- expand icon -->
            <div class="expand-button">
                <i class="fa fa-angle-right expand-icon"></i>
            </div>
        </div>