<nav id="top-bar">
   <input id="searchBar active" placeholder="Search an entry" type="text">
   <div id="search-icon"><i class="fas fa-search"></i></div>
   <div class="signout active"><a href="/signout">Sign Out</a></div>
  
</nav>