<nav id="top-bar">
   
   <input id="search-bar active" placeholder="Search an entry" type="text">
   <div id="search-icon"><i class="fas fa-search"></i></div>
   <div class="signout active"><a href="/">Signout</a></div>
   
   <div class="profile active"><a href="/users/{{myUsers._id}}"><i class="profile-icon fas fa-user-circle"></i></a></div>
 
  
</nav>