
<div id="main-content-dashboard">
    <div class="welcomeContainer">
        <p>Welcome</p>
    </div>
    <div class="expenseIcomeComparisonContainer">
        <p>Comparison</p>
    </div>
    {{> chartScript}}
</div>
{{> modalAddAll}}
