<div id="main-content-dashboard">
<div class="welcomeContainer"><p>Welcome</p></div>
<div class="expenseIcomeComparisonContainer"><p>Comparison</p></div>
<div class="chartsContainer"><p>Charts</p></div>
</div>
{{> modalAddAll}}