<div class="navbox">
    <nav class="navbar">
        <img src="Images/Billie-Logo-Original.png" alt="logo-billy" class="logo">
        <div class="btn-box">
            <button class="login">Login</button>
            <button class="logout">Sign Up</button>
        </div>
    </nav>
</div>