<div class="container">
<div class="navbox">
    <nav class="navbar">
        <img src="Images/Billie-Logo-Original.png" alt="logo-billy" class="logo">
        <div class="tool">
            <button class="features">Features</button>
            <button class="pricing">Pricing</button>
            <button class="about">About</button>
        </div>
        <div class="btn-box">
            <button class="login"><a href="/signin" class="auth">Login</a></button>
            <button class="logout"> <a href="/signup" class="auth">Sign Up</a> </button>
        </div>
    </nav>
</div>

<div class="content">
    <div class="main-position">
        <img src="Images/main.png" alt="main" class="main">
    </div>
    <div class="main-text">
        <p>Go beyond where your ends meet.</p> <br>
        <p>Billie helps you keep track of your finances <br> so you can focus on your growth.</p> <br>
        <p><button class="more">Learn more</button></p>
    </div>
</div>



<div>
    <footer class="footer">
        contact

    </footer>
</div>
</div>