<!DOCTYPE html>
<html>

<head>
  <title>Billie</title>
  <link rel="shortcut icon" type="image/jpg" href="./../public/images/favicon.png"/>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{#each style}}
  <link rel='stylesheet' href='/stylesheets/{{this}}' />
  {{/each}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  {{#each js}}
  <script type="module" src="/javascripts/{{this}}"></script>
  {{/each}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
  </div>
  {{{body}}}
</body>

</html>