<form method="post" action="/signup" class="form" enctype="multipart/form-data">

<label for="firstname">First Name</label>
<input type="text" name="firstname" id="firstname" value="Momo">

<label for="lastname">Last Name</label>
<input type="text" name="lastname" id="lastname" value="test">

<label for="username">Username</label>
<input type="text" name="username" id="username" value="test">

<label for="email">Email</label>
<input type="text" name="email" id="name" value="test@test.com">

<label for="password">Password</label>
<input type="password" name="password" id="password" value="123456">

<label for="profile"></label>
<select name="profile" id="profile">
    <option value="Family">Family</option>
    <option value="Business">Business</option>
    <option value="Student">Student</option>
    <option value="Standard">Standard</option>
</select>

<label for="gender"></label>
<select name="gender" id="gender">
    <option value="Woman">Woman</option>
    <option value="Man">Man</option>
    <option value="Prefer Not To">Prefer Not To</option>
</select>

<label for="avatar">
    Choose a Profile Picture 
</label>
<input type="file" name="avatar" id="avatar">

<button>Create my account</button>
</form>