:root {
  /* --dark-purple: rgb(11, 8, 15); */
  --normal-orange: orange;
  --grey-text: rgb(65, 62, 62);
  --font-size-table-text: 1.7vh;
}

body {
  width: 100%;
}

h2 {
  margin-bottom: 3vh;
  font-size: 3vh;
}

a {
  text-decoration: none;
}

/* The section whith title and table */

#main-table{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin: 4vh;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #ff821b;
  -webkit-box-shadow: -1px 2px 25px -6px #ff821b;
  -moz-box-shadow: -1px 2px 25px -6px #ff821b;
  border-radius: 15px;
  padding: 6vh;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  width: 100%;
}

/* The all table design */
table {
  table-layout: auto;
  width: 100%;
  margin: 2vh;
  border-spacing: 1.5vh;
  /* border: black 1px solid; */
}

thead {
  color: var(--grey-text);
  font-style: italic;
  font-size: 1.8vh;
  text-align: left;
}

td {
  padding: 2vh;
  height: 7vh;
}
td > p {
  display: flex;
  align-items: center;
}

/* Designing individual td's */
p.cat-and-src {
  display: flex;
  justify-content: center;
  text-align: center;
}

p.amount {
  font-size: 2.5vh;
  display: flex;
  justify-content: flex-end;
}

div.actions {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1vh;
}
div.actions > a {
  padding: 0.5vh;
  margin: 0 0.5vh;
  font-size: var(--font-size-table-text);
  color: var(--normal-orange);
}

.title {
  font-size: var(--font-size-table-text);
}

#expense-total {
  color: #eb1d1d;
}
#incomes-total{
  color: #1deb9c;
  text-shadow: rgba(0, 0, 0, 0.37) 0.5px 0.7px 0.5px;
}

/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  section {
    margin: 4vh;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 2px 25px -6px white;
    -webkit-box-shadow: -1px 2px 25px -6px white;
    -moz-box-shadow: -1px 2px 25px -6px white;
    border-radius: 15px;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 100%;
  }
  table {
    width: 100%;
    height: 100%;
  }
  td.actions-btn {
    display: flex;
    flex-wrap: wrap;
  }
}
