:root {
  /* --dark-purple: rgb(11, 8, 15); */
  --normal-orange: #ff821b;
  --grey-text: rgb(65, 62, 62);
  --font-size-table-text: 1.7vh;
}

h2 {
  margin-bottom: 3vh;
  font-size: 3vh;
}

a {
  text-decoration: none;
}

/* The section whith title and table */
section {
  margin: 7vh;
  background-color: white;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #ff821b;
  -webkit-box-shadow: -1px 2px 25px -6px #ff821b;
  -moz-box-shadow: -1px 2px 25px -6px #ff821b;
  border-radius: 15px;
  padding: 6vh;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

/* The all table design */
table {
  table-layout: auto;
  width: 100%;
  margin: 2vh;
  border-spacing: 1.5vh;
  /* border: black 1px solid; */
}

thead {
  color: var(--grey-text);
  font-style: italic;
  font-size: 1.8vh;
  text-align: left;
}


td {
  padding: 2vh;
  height: 7vh;
}
td > p {
  display: flex;
  align-items: center;
  /* border: 1px border black; */
}

/* Designing individual td's */
p.cat-and-src {
  display: flex;
  justify-content: center;
  text-align: center;
}

p.amount {
  font-size: var(--font-size-table-text);
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

div.actions {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1vh;
}
div.actions > a {
  /* background-color: blue; */
  padding: 0.5vh;
  margin: 0 0.5vh;
  font-size: var(--font-size-table-text);
  color: var(--normal-orange);
}

.title {
  font-size: var(--font-size-table-text);
}


/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  #create-container {
    width: 100%;
    height: 100%;
  }
  .formCreate {
    width: 100%;
    height: 100%;
  }
}