/* All the container including form and title  */
#create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}
/* title of the page  */
.createTitle {
  margin-top: 4%;
  margin-bottom: 4%;
  color: rgb(82, 82, 82);
  font-size: 32px;
}
/* form container  */
.formCreate {
  padding: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #ff821b;
  -webkit-box-shadow: -1px 2px 25px -6px #ff821b;
  -moz-box-shadow: -1px 2px 25px -6px #ff821b;
  border-radius: 15px;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.formCreate > label {
  font-size: 18px;
  padding: 10px;
}
.formCreate > input {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px orange;
  font-size: 14px;
  resize: vertical;
}
.formCreate > select {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px orange;
  font-size: 14px;
}
.formCreate > textarea {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px orange;
  font-size: 14px;
}
/* Custom file upload  */
.fileUpload {
  background: #1268eb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 1.25em auto; /*20px/16px 0*/
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-align: center;
  width: 120px;
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: #00b7ff;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}
input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* submit form button  */
.createBtn {
  padding: 15px;
  border-radius: 5px;
  border: solid 1px orange;
  color: white;
  background-color: orange;
  font-size: 18px;
}
/* Responsive media  */
@media screen and (max-width: 600px) {
  #create-container {
    width: 100%;
    height: 100%;
  }
  .formCreate {
    width: 100%;
    height: 100%;
  }
}
