/* dashboard div containing all containers  */
#main-content-dashboard {
  display: grid;
  grid-template-columns: 2% 47% 2% 47% 2%;
  grid-template-rows: 10% 30% 5% 55%;
  width: 100%;
}
.welcomeContainer {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #2b32b2;
  -webkit-box-shadow: -1px 2px 25px -6px #2b32b2;
  -moz-box-shadow: -1px 2px 25px -6px #2b32b2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2vh;
  line-height: 3.5vh;
}
#expenseIncomeComparisonContainer {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #2b32b2;
  -webkit-box-shadow: -1px 2px 25px -6px #2b32b2;
  -moz-box-shadow: -1px 2px 25px -6px #2b32b2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartsContainer {
  grid-column-start: 2;
  grid-row-start: 4;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 25px -6px #2b32b2;
  -webkit-box-shadow: -1px 2px 25px -6px #2b32b2;
  -moz-box-shadow: -1px 2px 25px -6px #2b32b2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-container{
  width: auto;
  height: auto;
  grid-column-start: 4;
  grid-row-start: 4;
}


/* CHART CONTAINER  */
#myChart{
  width: 300px;
  height: 300px
}

/*Text design*/

a {
  text-decoration: none;
  font-size: 2vh;
}

img.circle {
  width: 9vh;
}