body {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar{
    background: white;
    width: 90%;
    height: 75px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navbox{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
}

.login{
    margin-right: 5px;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.logout{
    margin-right: 15px;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.logo{
    width: 80px;
    height: auto;
}



