/* General container of the pop up */
#modalAddAll {
  display: none;
  flex-direction: column;
  position: absolute; /* or absolute */
  top: 8%;
  left: 23%;
  right: 20%;
  z-index: 20;
  width: 100%;
}
#modalAddAll:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(174, 180, 238);
  background: radial-gradient(
    circle,
    rgba(174, 180, 238, 1) 0%,
    rgba(148, 187, 233, 0.2413340336134454) 100%
  );
  z-index: -20;
}
#modalAddAll:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}
/* close button of the container  */
.closeModalAddAll {
  font-size: 70px;
    color: #ff821b;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    right: 5%;
    cursor: pointer;

}
/* Pop up content area  */
.modalAddAll-content {
  position: relative;
  width: 60%;
  height: 600px;
  text-align: center;
  border-radius: 10px;
  background-color: whitesmoke;
}
.modalAddAll-content > h2 {
  margin: 2%;
  color: #1268eb;
  font-size: 32px;
  padding: 4%;
}
/* buttons to navigate on create an expense/income */
.newEntryBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}
/* create an expense button  */
.expense {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  width: 300px;
  height: 200px;
  background-color: #1268eb;
  margin: 5px;
  border-radius: 15px;
}
.expense:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.expense:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.expense:after {
  font-family: 'Josefin Sans', sans-serif;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #eb1d1d;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 5px;
}
.expense:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #ffffff;
  margin-top: 70px;
  margin-left: 50px;
  display: flex;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
/* create an income button  */
.income {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  width: 300px;
  height: 200px;
  background-color: #1268eb;
  margin: 5px;
  border-radius: 15px;
}
.income:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.income:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.income:after {
  font-family: 'Josefin Sans', sans-serif;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #1deb9c;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 5px;
}
.income:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #ffffff;
  margin-top: 70px;
  margin-left: 50px;
  display: flex;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

/* Responsive media for the whole pop up */
@media screen and (max-width: 600px) {
  .modalAddAll {
    width: 100%;
    height: 100%;
  }
}
