:root {
  --dark-purple: rgb(11, 8, 15);
  --normal-orange: #ff821b;
  --grey-text: rgb(65, 62, 62);
  --deep-blue: #1268eb;
  --light-blue: #00b7ff;
}

body {
  background: var(--normal-orange);
}

h2 {
  margin-bottom: 3vh;
  font-size: 3vh;
}

h3 {
  font-size: 3vh;
  color: var(--light-blue);
  text-shadow: rgba(0, 0, 0, 0.342) 0.2px 0.2px 0.2px;
  margin: 4vh 3vh;
}

a {
  text-decoration: none;
}

p {
  margin: 2.5vh;
  font-size: 2vh;
}

/*The section*/
section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 60vh;
  height: 90vh;
  font-size: 10px;
  position: relative;
}

#all-details {
  margin: 7vh;
  background-color: white;
  padding: 6vh;
  border-radius: 5%;
}

div.details {
  display: flex;
  flex-direction: column;
}

/*The infos*/

p.cat-and-src {
  font-style: italic;
}

div.description {
  text-align: right;
  /* padding: 2vh; */
  margin-top: 2vh;
  width: 100%;
  height: 10px;
  border-top: black 1px solid;
  font-style: italic;
  color: var(--grey-text);
}

div.amount {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-self: flex-end;
}
div.amount p {
  color: var(--normal-orange);
  font-size: 4.5vh;
  margin-right: 5vh;
}

/*Back link*/
.go-back {
  font-size: 3vh;
  position: absolute;
  bottom: 5%;
}

.fa-arrow-alt-circle-left {
  margin-right: 1vh;
}
