
body {
    
    display: flex;

}

.form-container{
    width: 100%;
    background: white;
    padding: 25px 30px;
    margin-top: 10px;
    margin-left: 28%;
    border-radius: 5px;
}

.title{
    font-size: 25px;
    font-weight: 500;

}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #2b32b2;

}

.form-container form .credentials{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin : 20px 0 12px 0;
}

form .credentials .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.credentials .input-box input{
    height: 45px;
    width: 100%;
    margin: 5px 0 5px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 1s ease;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.label{
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
}

.profile-title{
    font-weight: bold;
    
}

.credentials .input-box input:focus {
    border-color: #ff7675 ;
   
}

select{
   
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
}

/* removing the arrow. Code from :  https://moderncss.dev/custom-select-styles-with-pure-css/*/
select::-ms-expand{
    display: none;
}

.selector{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

.update{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    
}

.update-btn{
    height: 45px;
    margin: 45px 0;
    width: 350px;
    background: #1488cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2b32b2, #1488cc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #2b32b2,
        #1488cc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 1px;

}
form {
    width: 600px;
    height: 500px;
}
.update-btn:hover{
    background:orange;
    
    transition: all 0s ease;
    cursor: pointer;
}

.label-box{
    text-align: center;
    padding-bottom: 5px;
    
}
.fileUpload {
    background: #1268eb;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 1em auto; /*20px/16px 0*/
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 120px;
    cursor: pointer;
  }
  .fileUpload:hover,
  .fileUpload:active,
  .fileUpload:focus {
    background: #00b7ff;
    cursor: pointer;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
  }
  input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
  }




@media (max-width: 584px){
    .form-container{
        max-width: 100%;
    }

    form .credentials .input-box{
        margin: 20px 0 12px 0;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 1293px){
    body{
      max-width: 100%;
      
    }
    .form-container{
        max-width: 100%;
    }

    form .credentials .input-box{
        margin: 20px 0 12px 0;
        width: 100%;
        margin-bottom: 15px;
    }
  }
  
  @media (min-width: 1523px ){
    .form-container{
        max-width: 50%;
    }

    form .credentials .input-box{
        margin: 20px 0 12px 0;
        width: 100%;
        margin-bottom: 15px;
    }
  }
