<section id="create-container">
    <div class="create-container">
        <h2 class="createTitle">A little bit richer, yay !</h2>
        <form method="post" action="/incomes/new" class="formCreate" enctype="multipart/form-data">

            <label for="title">Title</label>
            <input name="title" id="title" type="text" placeholder="Salary, bonus, Christmas gift...">

            <label for="source">Income source</label>
            <select name="source" id="source" type="text">
                <option>Main Income</option>
                <option>Secondary Income</option>
                <option>Other</option>
            </select>

            <label for="amount">Amount</label>
            <input name="amount" id="amount" type="number" min="1" max="1000000000" placeholder="From 1 to infinity" step=".01">

            <label for="date">Date</label>
            <input name="date" id="date" type="date">

            <label for="description">Description</label>
            <textarea name="description" id="description" type="text" placeholder="Grandma's gift for Christmas"
                value="test"></textarea>
            <div class="fileUpload">
                <label for="picture">Upload a file</label>
                <input name="picture" id="picture" type="file">
            </div>
            <button class="createBtn" type="submit">Add your new income</button>
        </form>
        </div>
</section>
{{> modalAddAll}}