<div class="form-container">

<div class="title">
    Registration
</div>
<form method="post" action="/signup" class="singnup-form" enctype="multipart/form-data">
<div class="credentials">

    <div class="input-box">
<label for="firstname" class="label">First Name</label>
<input type="text" name="firstname" id="firstname" placeholder="Write here">
    </div>
    

<div class="input-box">
    <label for="lastname" class="label">Last Name</label>
<input type="text" name="lastname" id="lastname" placeholder="Write here">
</div>


<div class="input-box">
    <label for="username" class="label">Username</label>
<input type="text" name="username" id="username" placeholder="Required">
</div>


<div class="input-box">
    <label for="email" class="label">Email</label>
<input type="text" name="email" id="name" placeholder="Required">
</div>


<div class="input-box">
    <label for="password" class="label" placeholder="Required">Password</label>
<input type="password" name="password" id="password" value="123456">
</div>

<div class="input-box" id="uploader">
    <label for="avatar" class="label">
   Picture
</label>
<input type="file" name="avatar" id="avatar">
</div>

</div>

<div class="profile">
    <div>
    <label for="profile" class="profile-title">Profile Type</label>
    
<select name="profile" id="profile" class="selector"> 
    <option value="Family" >Family</option>
    <option value="Business">Business</option>
    <option value="Student">Student</option>
    <option value="Standard">Standard</option>
</select>
</div>


<div>
    <label for="gender" class="profile-title">Gender</label>
<select name="gender" id="gender" class="selector">
    <option value="Woman">Woman</option>
    <option value="Man">Man</option>
    <option value="Prefer Not To">Prefer Not To</option>
</select>
</div>


</div>

<div class="submit">
{{!-- <div>
    <label for="avatar">
    Picture
</label>
<input type="file" name="avatar" id="avatar">
</div> --}}

<div>
    <button class="btn-submit">Create my account</button>
</div>

  <div>
                <a href="/">
                    <div class="btn"><i class="fa fa-home"></i></div>
                </a>
            </div>
</div>



</form>
</div>



