<div class="form-container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="title">
        Sign in
    </div>

    <form action="/signin" method="post" class="singnin-form">
        <div class="credentials">

            <div class="input-box">
                <label for="email" class="label"></label>
                <input type="text" id="email" name="email" placeholder="enter your email">
            </div>

            <div class="input-box">
                <label for="password" class="label"></label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>

        </div>

        <div class="submit">
            <div>
                <button class="btn-submit">Sign in</button>
            </div>
            <div>
                <a href="/"><div class="btn"><i class="fa fa-home"></i></div></a>
            </div>

        </div>


    </form>

</div>