<div class="form-container">
    <div class="title">
        Sign in
    </div>
    <form action="/signin" method="post" class="singnin-form">
        <div class="credentials">

            <div class="input-box">
                <label for="email" class="label"></label>
                <input type="text" id="email" name="email" placeholder="enter your email">
            </div>

            <div class="input-box">
                <label for="password" class="label"></label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>

        </div>

        <div class="submit">
            <div>
                <button class="btn-submit">Sign in</button>
            </div>
            <div>
                <a href="/">
                    <div class="btn"><i class="fa fa-home"></i></div>
                </a>
            </div>

        </div>


    </form>

</div>